.signup {
    width: fit-content;
    background: rgba(0, 0, 0, 0.85);
    padding: 20px;
    border-radius: 5px;
}

.signup form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.signup h1 {
    font-size: 3rem;
    margin: 10px 0px;
    text-transform: uppercase;
}

.signup-input {
    height: 50px;
    margin: 10px 0px;
    padding: 0px 20px;
    width: 350px;
    outline: none;
    border: none;
}

.signup-input-button {
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 500;
    color: white;
    background: var(--red);
    margin: 10px 0px;
    width: 180px;
}

.signup-input-button:hover {
    background: var(--red-hover)
}

h4{
    margin: 10px 0px;
}

.signup-bottom-gray {
    font-weight: 300;
    color: gray;
    margin-right: 10px;
}

.signup-bottom-link{
    cursor: pointer;
    user-select: none;
}
.signup-bottom-link:hover{
    text-decoration: underline;
}

@media (max-width:600px) {
    .signup {
        width: 100%;
        background: rgba(0, 0, 0, 0.85);
        padding: 20px;
        border-radius: 5px;
    }

    .signup-input{
        width: 100%;
    }
}