.banner{
    color: white;
    object-fit: contain;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
}

.banner-fade-color{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(180deg , transparent , rgba(37,37,37,0.61),#111);
}

.banner-title{
    font-size: 3rem;
    margin: 10px 0px;
    text-transform: capitalize;
}

.banner-contents{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 3;
}

.banner-buttons{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0px;
}

.banner-button{
    background: rgba(51,51,51,0.5);
    margin-right: 10px;
    color: white;
    cursor: pointer;
    padding: 1rem 3rem;
    border: none;
    outline: none;
    font-weight: 700;
    
}

.banner-button:hover{
    background: white;
    color: black;
    transition: all 0.2s;
}

.banner-desc{
    margin: 10px 0px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.3;
    width: 50%;
}

@media (max-width:600px) {
    .banner-desc{
        width: 90%;
    }
    .banner-title{
        font-size: 2rem;
        margin: 10px 0px;
        text-transform: capitalize;
    }
}